@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap');

* {
  font-family: Lato, Roboto, sans-serif;
  outline: none !important;
}

body {
  min-height: 100vh;
}

#header {
  height: 100vh;
  background: #fafafa;
  border-bottom: 1px solid #bfbfbf;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(-100vh);
  transition: 1.3s;
}

#header.show {
  transform: translateY(0);
}

#header .title {
  font-size: 60px;
  font-weight: bold;
  opacity: 0;
  transform: translateY(90%) scale(.9);
  transition: 1.3s;
}

#header .title.end {
  transform: scale(1);
}

#header .title .text-muted {
  font-weight: normal;
  font-size: 30px;
  transition: 1.3s;
}

#header #desc {
  max-width: 62%;
  text-align: center;
  transition: 1.3s;
  transform: translateY(100%);
  opacity: 0;
}

#header #desc.show,
#header .title.show,
#header #btns.show {
  opacity: 1;
  transform: translateY(0);
}

#header #btns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  opacity: 0;
  transform: translateY(100%);
  transition: 1.3s;
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  transition: 2s;
}

#loader .loader-spinner {
  width: 100px;
  height: 100px;
  font-size: 20px;
}

#loader.loaded {
  transform: translateX(-100%);
  z-index: -999;
}

#center {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#center .text {
  font-size: 60px;
  font-weight: bold;
}

#reg,
#dashboard {
  height: 100%;
  min-height: 100vh;
  background: #fff;
  border-left: 1px solid #bfbfbf;
  border-right: 1px solid #bfbfbf;
  box-shadow: 0px 7px 29px 0px #64646f33;
  margin: auto;
  position: relative;
  padding-bottom: 100px;
}

#reg {
  width: 40%;
  padding: 100px 30px;
}

#dashboard {
  width: 80%;
}

#dashboard .main {
  padding: 30px;
}

#dashboard .main-for-clock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #bfbfbf;
  padding: 20px 30px;
}

nav .user {
  font-size: 20px;
  color: #000;
  text-decoration: none;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
}

nav ul li:not(:first-child) {
  margin-left: 25px;
}

nav ul li a {
  color: #000;
  opacity: .7;
  text-decoration: none;
}

nav ul li a:hover {
  color: #000 !important;
  opacity: 1;
}

#reg h1 {
  font-size: 50px;
}

#reg .links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#reg .links span a:not(:first-child) {
  margin-left: 10px;
}

.tooltip-inner {
  max-width: 100%;
}

#reg .back-btn {
  border: none;
  background: none;
  font-size: 25px;
  position: absolute;
  top: 10px;
  left: 20px;
  padding: 0;
  transition: .5s;
}

#reg .back-btn:hover {
  opacity: .7;
}

#alert {
  position: fixed;
  left: 35px;
  right: 35px;
  bottom: 10px;
  transition: .5s;
  transform: translateY(150%);
  z-index: 1051;
  min-width: 379px;
}

#alert.show {
  transform: translateY(0);
}

.own-btn {
  background: #fff;
  color: #000;
  border: 1px solid #bfbfbf;
  box-shadow: 0px 7px 29px 0px #64646f33;
  padding: 10px 23px;
  cursor: pointer;
  transition: .5s;
}

.own-btn:hover {
  transform: translateY(-10%);
}

.width-100 {
  width: 100%;
}

.endeavor-cats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.scale {
  display: flex;
}

.scale label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.scale label:not(:first-child) {
  margin-left: 10px;
}

.scale label span {
  font-weight: bold;
  font-size: 20px;
}

.scale label:first-child span {
  color: red;
}

.scale label:first-child input:checked {
  background-color: #fd3c3c !important;
  border-color: #fd3c3c !important;
}

.scale label:first-child input:checked:focus {
  box-shadow: 0 0 0 0.25rem rgb(253, 60, 60, .25);
}

#startBtn {
  position: absolute;
  bottom: 30%;
  left: 50%;
  transform: translateX(-50%);
}

.add-btn {
  position: fixed;
  right: 35px;
  bottom: 35px;
  font-size: 36px;
  font-weight: bold;
  padding: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
}

#confidenceSpan {
  font-size: 20px;
}

.list-info {
  list-style-type: none;
  padding: 0 !important;
}

.list-info li {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-info li h1 {
  font-size: 25px;
  margin: 0 !important;
}

#activityList li {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#activityList li span {
  font-size: 20px;
  text-align: center;
}

#hardDiv {
  display: flex;
  justify-content: center;
}

.clock-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.clock-container span:first-child {
  font-size: 20px;
}

.clock-container span:last-child {
  font-size: 60px;
  font-weight: bold;
  line-height: 60px;
}

#questLengthScale .d-flex {
  flex-flow: wrap;
  margin-top: 5px;
}

.carousel {
  margin-top: 20px;
}

.calendar {
  display: flex;
  justify-content: center;
}

.calendar .month .dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 8px;
  max-width: 90%;
}

.calendar .month .days {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  opacity: .5;
  font-size: 14px;
}

.custom-badge {
  background: #43d843;
  border-radius: 1px;
  box-shadow: 0 0 0 3px #43d843;
}

.calendar .month .name {
  font-size: 20px;
  margin-bottom: 10px;
}

.calendar .month:not(:first-child) {
  margin-left: 35px;
}

.calendar span {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 600px !important;
    margin: 1.75rem auto;
  }
}