@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap');

* {
  font-family: Lato, Roboto, sans-serif;
  outline: none !important;
}

body {
  min-height: 100vh;
}

#header {
  height: 100vh;
  background: #fafafa;
  border-bottom: 1px solid #bfbfbf;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(-100vh);
  transition: 1.3s;
}

#header.show {
  transform: translateY(0);
}

#header .title {
  font-size: 60px;
  font-weight: bold;
  opacity: 0;
  transform: translateY(90%) scale(.9);
  transition: 1.3s;
}

#header .title.end {
  transform: scale(1);
}

#header .title .text-muted {
  font-weight: normal;
  font-size: 30px;
  transition: 1.3s;
}

#header #desc {
  max-width: 62%;
  text-align: center;
  transition: 1.3s;
  transform: translateY(100%);
  opacity: 0;
}

#header #desc.show,
#header .title.show,
#header #btns.show {
  opacity: 1;
  transform: translateY(0);
}

#header #btns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  opacity: 0;
  transform: translateY(100%);
  transition: 1.3s;
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  transition: 2s;
}

#loader .loader-spinner {
  width: 100px;
  height: 100px;
  font-size: 20px;
}

#loader.loaded {
  transform: translateX(-100%);
  z-index: -999;
}

#error {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#error .text {
  font-size: 60px;
  font-weight: bold;
}

#reg {
  width: 40%;
  height: 100vh;
  background: #fff;
  border-left: 1px solid #bfbfbf;
  border-right: 1px solid #bfbfbf;
  box-shadow: 0px 7px 29px 0px #64646f33;
  margin: auto;
  padding: 100px 30px;
  position: relative;
}

#reg h1 {
  font-size: 50px;
}

#reg .links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tooltip-inner {
  max-width: 100%;
}

#reg .back-btn {
  border: none;
  background: none;
  font-size: 25px;
  position: absolute;
  top: 10px;
  left: 20px;
  padding: 0;
  transition: .5s;
}

#reg .back-btn:hover {
  opacity: .7;
}

.alert {
  position: fixed;
  top: 10px;
  left: 10px;
  transition: .5s;
  transform: translateY(-50%);
  z-index: 999;
  width: 379px;
}

.alert.show {
  transform: translateY(0);
}

.own-btn {
  background: #fff;
  color: #000;
  border: 1px solid #bfbfbf;
  box-shadow: 0px 7px 29px 0px #64646f33;
  padding: 10px 23px;
  cursor: pointer;
  transition: .5s;
}

.own-btn:hover {
  transform: translateY(-10%);
}